body {
  background-color: #f8f8f8;
  margin: 0rem;
  padding: 0rem;
}

.main {
  margin: 0rem 2rem;
  padding: 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  height: -webkit-fill-available;
}

img {
  display: block;
  margin: 0rem auto 2rem auto;
  padding: 0rem;
  max-width: 8rem;
  animation: rotation 15s infinite linear;
  pointer-events: none;
}

svg {
  width: 2rem;
  height: 2rem;
  margin: 0rem;
  padding: 0.2rem;
  fill: #000000;
  opacity: 0.8;
}

svg:hover {
  opacity: 1;
  transform: scale(1.1);
  transition: opacity 0.2s, transform 0.1s ease-in-out;
}

svg:active {
  fill: #000b6b;
  opacity: 1;
}

ul {
  display: flex;
  margin: 0.5rem 0rem 2rem 0rem;
  padding: 0rem;
  justify-content: center;
  list-style: none;
}

.mail a {
  font-family: HelveticaNeue-Thin, sans-serif;
  font-size: 1rem;
  color: black;
  opacity: 0.8;
}

.mail {
  text-align: center;
  margin: 0.1rem;
  padding: 0rem;
}


p {
  text-align: center;
  font-family: HelveticaNeue-Thin, Helvetica, sans-serif;
  font-size: 2rem;
  margin: 0.5rem 0rem;
  padding: 0rem;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
